# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Java class files
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# SQLite temporary journal/WAL files
*.db-journal
*.db-wal
*.db-shm

# OS files
.DS_Store
Thumbs.db